<div data-ng-controller="ApplicationController as ctrl" >

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Applications</h3>

                    <div class="box-tools">

                        <div class="input-group input-group-sm" style="width: 300px;">
                            <div class="input-group-btn" style="padding-right: 10px;">
                                <button data-ng-click="ctrl.open()"
                                        class="btn btn-block btn-primary btn-sm">Add Application</button>
                            </div>

                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody><tr>
                            <th>App ID</th>
                            <th>App Name</th>
                            <th>App Domain</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                        <tr ng-repeat="app in ctrl.applications">
                            <td>{{ app.id }}</td>
                            <td>{{ app.name }}</td>
                            <td>{{ app.domain }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" data-title="Edit" data-ng-click="ctrl.edit(app)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs" data-title="Delete" data-ng-click="ctrl.delete(app)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</div>